body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  background: transparent;
}

.logo{
  display: block;
  width: 10vw;
  height: 4vh;
  position: fixed;
  top: 12px;
  left: 10px;
  background-image: url(./assets/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 11111111;
}